<header class="app-header">
  <img src="./assets/images/logo-rf-white.svg"
       alt="Logo Receita Federal"
       class="logo">
  <div class="header-text">
    <h1>Analisador de Vapes</h1>
    <h2>Receita Federal do Brasil</h2>
  </div>
</header>

<div class="width-100">


  <div class="container">
    <h2 class="title">Escaneie o Cigarro Eletrônico</h2>

    <button class="capture-button" #camera (click)="startCamera(); camera.hidden = true">Abrir Câmera</button>

    <ng-container *ngIf="cameraOpen">
      <canvas #canvas style="display: none;"></canvas>
      <video #video autoplay playsinline></video>

    </ng-container>

    <div *ngIf="showToast1" class="toast">
      Vape detectado! <br>
      Processando...
    </div>

    <div *ngIf="showToast2" class="toast">
      Vape Canetinha Safado
    </div>
  </div>

</div>
