<header class="app-header">
  <img src="./assets/images/logo-rf-white.svg"
       alt="Logo Receita Federal"
       class="logo">
  <div class="header-text">
    <h1>ACE</h1>
    <h2>
      Análise de Cigarro Eletrônico
    </h2>
  </div>
</header>

<main class="main-content">


  <div class="container">
    <ng-container *ngIf="!cameraOpen">
      <h2 class="title">Escaneie o Cigarro Eletrônico</h2>
    </ng-container>
    <ng-container  *ngIf="cameraOpen">
      <div class="h-container">
        <h2 class="title">Escaneie Novamente</h2>
        <button class="refresh-button" #refreshCamera (click)="scanAgain()">
          <mat-icon>
            refresh
          </mat-icon>
        </button>
      </div>

    </ng-container>

    <button class="capture-button" #camera (click)="startCamera(); camera.hidden = true">Abrir Câmera</button>

    <ng-container *ngIf="cameraOpen">
      <canvas #canvas style="display: none;"></canvas>
      <video #video autoplay playsinline></video>

    </ng-container>

    <div *ngIf="showToast1" class="toast warning">
      Vape detectado! <br>
      Processando...
    </div>

    <div *ngIf="showToast2" class="toast">
      <p>{{vapeDetected}}</p>
      <b>Modelo: {{vapeModel}}</b>
    </div>
  </div>




</main>


<footer class="app-footer">
  Aplicativo da Receita Federal do Brasil © {{ currentYear }}
</footer>
